
body{
  
    font-family: sans-serif;
    
 background-image: url('Fichier%201.png');
   background-repeat: no-repeat;
 
  background-size: cover;

   
  
}   

.box{
    width: 450px;
   padding: 40px;
    height: 1050px;
    justify-content: center;
    position: absolute;
    top: 64%;
    left: 48%;    
    transform: translate(-50%,-17%);
    background:-webkit-linear-gradient(#D9ECF2,#F56A79,#002D40);
    text-align: center;
    border-radius: 40px; 
}
.box h1{
    font-family: sans-serif;   
    text-transform: capitalize; 
}


.box input[type="text"],.box input[type ="text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid ;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type= "text"]:focus,.box input[type ="text"]:focus{
width: 250px;
border-color: blue;
}
label{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    text-align: left;
    display: block;
    font-weight: 500;
    font-size: 20px;
}
.box button[type="submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #D9ECF2;
    width: 130px;
    padding: 15px 40px;
    outline: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    background: linear-gradient(#F56A79,#D9ECF2);
}
.box ::placeholder{
    color: #D9ECF2;
    font-size: 15px;
}
